.primary-color {
    -fx-background-color: #035e8c;
    color: #cbe1ea;
}

.button {
    -fx-background-color: #035e8c;
    color: #cbe1ea;
}

.button:pressed {
    -fx-background-color: #1d2a57;
    color: #cbe1ea;

}

.button:hover {
    -fx-background-color: #0c2f43;
}

.button:focused {
    -fx-background-color: #1d2a57;
    color: #cbe1ea;
    -fx-border-color: #ffff;
    -fx-border-width: 0px 0px 0px 3px;
}

.transparent {
    -fx-background-color: #ffff;
}

.search-bar {
    -fx-border-color: #D2D2D2;
}

.search-border {
    -fx-border-color: #00609c;
    -fx-border-width: 0.5 0.5 0.5 0;
}

.right-border {
    -fx-border-color: #dbdbdb;
    -fx-border-width: 0 15 0 0;
}

.operation {
    -fx-background-color: #dbdbdb;
    /*-fx-border-width: 0 0 0 10;*/
}

.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-cell-size: 20;
    -fx-background-color: #e9e9e9;
}


.table-view .cell{
    -fx-cell-size: 30;
    -fx-alignment: center-left;
    -fx-text-fill: #000000;
    -fx-algiment: CENTER_LEFT;
}

.table-row-cell:selected {
    -fx-background-color: rgb(127, 172, 243);
}
.table-row-cell:selected .text {
    -fx-fill : white ;
}

.table-row-cell:hover {
    -fx-background-color: #beecff;
}

.table-row-cell:focused {
    -fx-border-color: #ffffff;
    -fx-border-width: 0px 0px 0px 5px;
}

/* scroll bar starts hear */

/* The increment and decrement button CSS class of scrollbar */
.table-view .increment-button ,.table-view .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 2em;
}

/* the main scrollbar **track** CSS class */
.table-view .scroll-bar:horizontal .track,
.table-view .scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: derive( #0080cf, 80%);
    -fx-background-radius: 2em;
    -fx-border-radius: 2em;
}

/* The main scrollbar **thumb** CSS class which me drag every time (movable) */
.table-view .scroll-bar:horizontal .thumb,
.table-view .scroll-bar:vertical .thumb {
    -fx-background-color: derive(#0080cf, 90%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}

.Action:focused {
    -fx-background-color: #003d5f;
    -fx-border-width: 0 3 0 0;
    -fx-border-color: #FFFF;
}

.Action:pressed {
    -fx-background-color: #003d5f;
    -fx-border-width: 3 0 0 0;
    -fx-border-color: #FFFF;
}

.Action:hover {
    -fx-background-color: #003d5f;
    -fx-border-width: 3 0 0 0;
    -fx-border-color: #FFFF;
}

.exit {
    -fx-border-width: 1 0 1 0;
}

.exit:hover {
    -fx-background-color: #0491d8;
}

.exit:pressed {
    -fx-background-color: #0491d8;
}

.exit:focused {
    -fx-background-color: #0491d8;
}

.updateAction {
    -fx-background-color: #003d5f;
}

.updateAction:pressed {
    -fx-border-width: 3 0 0 0;
    -fx-border-color: #FFFF;
}

.updateAction:hover {
    -fx-border-width: 3 0 0 0;
    -fx-border-color: #FFFF;
}

.hbox0 {
    -fx-border-color: #7e8181;
    -fx-border-width: 0 0 0.5 0;
}

.volume:hover {
    -fx-border-color: #00a4ff;
    -fx-border-width: 0.5 0.5 0.5 0.5;
}
